.list-item {
  margin-bottom: 2rem;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: black;
  background: black;
}

.list-item:hover {
  color: #f30e0e;
  transition: .15s ease-out;
}

.list-item span:hover {
  cursor: pointer;
}


